/* Import fonts from fonts dir. */
@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format("woff2"); }
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/manrope/Manrope-VariableFont_wght.ttf") format("woff2"); }
/* TODO - declare variables */
/* UNIVESRAL SELECTOR*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto; }

h1,
h2,
h3 {
  font-family: Fraunces, sans-serif; }

p {
  font-family: Manrope, sans-serif; }

.btn:hover {
  border: 1px solid #44FFA1;
  background-color: #24053E;
  color: #44FFA1; }

/*HEADER*/
header {
  background-color: #24053E;
  text-align: center;
  padding: 32px 16px 0 16px;
  position: relative; }
  header::after {
    border-radius: 100%;
    background: transparent;
    content: '';
    width: 200%;
    display: block;
    height: 80px;
    background-color: #24053E;
    position: absolute;
    bottom: -70px;
    left: -100%; }
  header nav {
    display: flex;
    font-family: Manrope;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px; }
    header nav a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.1599999964237213px;
      text-align: left;
      color: white;
      border-bottom: 3px solid #44FFA1; }
      header nav a:hover {
        color: #44FFA1; }
  header .header__jumbotron {
    max-width: 635px;
    margin: 0 auto; }
    header .header__jumbotron div {
      margin-bottom: 64px; }
    header .header__jumbotron h1 {
      font-size: 50px;
      font-weight: 600;
      line-height: 60px;
      letter-spacing: 0px;
      text-align: center;
      color: white;
      margin-bottom: 40px; }
      header .header__jumbotron h1 span {
        border-bottom: 3px solid #44FFA1; }
    header .header__jumbotron button {
      background-color: #44FFA1;
      color: #24053E;
      font-family: Manrope, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.1599999964237213px;
      text-align: center;
      border: none;
      padding: 12px 24px; }
    header .header__jumbotron img {
      width: 100%; }
  header picture {
    width: 100%;
    position: absolute; }
    header picture img {
      width: 100%; }

/*MAIN*/
main h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center; }
main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center; }
main h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center; }

/* Decalre breakpints */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /*HEADER*/
  header {
    padding-top: 32px;
    background: left -150px top 50%/50% no-repeat url("./assets/images/bg-pattern-1.svg"), right -50px bottom 5%/15% 60% no-repeat url("./assets/images/bg-pattern-2.svg");
    background-color: #24053E; }
    header .header__jumbotron {
      padding: 0 80px; }
    header nav {
      min-width: 690px;
      margin: 0 auto;
      width: 90%;
      margin-bottom: 56px; }

  /*MAIN*/
  main h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    text-align: left; }
  main p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left; }
  main h2 {
    font-size: 56px;
    font-weight: 600;
    line-height: 64px;
    text-align: left; } }
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /*HEADER*/
  header nav {
    max-width: 970px; }
  header .header__jumbotron h1 {
    font-size: 80px;
    font-weight: 600;
    line-height: 90px; }

  /*MAIN*/
  main h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center; }
  main p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
